<!DOCTYPE html>
<html>
<head>

</head>
<body>
      <h2>PERSONAL INFORMATION</h2>
    <div class = 'row'>
        <div class = 'row'>
            {%for personal_information in PersonalInformation%}
        <div class = 'row'>
        <h2>personal_information.name</h2>
        <h5>personal_information.contact_address</h5>
            <h5>{{personal_information.phone}}</h5>
            <h5>{{personal_information.email}}</h5>
            <h5>{{personal_information.date_of_birth}}</h5>
            <h5>{{personal_information.sex}}</h5>
            <h5>{{personal_information.nationality}}</h5>
            {%endfor%}
        </div>
</body>
</html>